* {
  font-family: 'Fredoka One', sans-serif;
}

.home-background {
  background: linear-gradient(to bottom, #f27874, #e09f8f); 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px; /* Espacio para el footer */
}

.back-button {
  position: absolute;
  top: 20px;
  left: 10px;
  --background: transparent;
  color: black;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.footer-tab-bar {
  --background: #E26D5D; 
  --color-selected: #ffffff; /* Color del icono cuando está seleccionado */
  --color: #000000; /* Color de los iconos cuando no están seleccionados */
}

