ion-content {
  --background: transparent;
  background-image: url('/assets/images-login/imagen_login.jpg');
  background-size: cover; // hace que la imagen cubra todo el contenido 
  background-position: center; // centra la imagen
  height: 100%; // asegura que el contenedor tenga la altura total 

  // Aplica un color semitransparente sobre la imagen para simular opacidad:
  background-color: rgba(0, 0, 0, 0.4); // color negro con 40% de opacidad 
  background-blend-mode: multiply; // mezcla el color con la imagen de fondo 
}

.logo-container{
  text-align: center;
  margin-top: 15%;
}

.logo-container img{
  width: 40vw;
  height: auto;
  border-radius: 20px;
  border: 1px solid black;
}

.login-card {
  background: rgba(76, 193, 157, 0.7); // Fondo verde semitransparente
  border-radius: 20px;
  margin: 40px;
}

.login-card ion-item {
  --background: rgba(76, 193, 157, 0.01); // mismo color que el fondo de la tarjeta con mucha mas transperencia para que no se vea sobrepuesto
}


.login-card ion-card-title {
  text-align: center;
  font-size: 1.5rem;
  color: #f0f0f0;
  -webkit-text-stroke: 1px black; //borde negro a las letras
}

// Estilo para los labels dentro de ion-item 
.login-card ion-label {
  color: #f0f0f0; 
}

.login-button, .google-login-button {
  border-radius: 50%; // asegura que los botones sean circulares 
  display: flex; // Usa flexbox para centrar el contenido 
  align-items: center; // alinea verticalmente el contenido 
  justify-content: center; // alinea horizontalmente el contenido 
  font-size: 13px; // ajusta el tamaño de la fuente 
  font-weight: bold; // texto de los botones en negrita
  text-align: center; // alinea el texto al centro 
}

.login-button {
  --background: #f0f0f0ef;
  margin-top: 20px;
  color: #000000;
}

.google-login-button {
  --background: #1f3eebb9;
  color: #ffffff;
  margin-top: 10px;
}

.signup-container {
  text-align: center;
  position: relative;
  top: -20px;
}

.signup-container span {
  color: rgb(255, 255, 255);
}

.signup-container a {
  color: rgba(76, 193, 157);
}

