<ion-content [fullscreen]="true">
  <div class="img-background"><img src="assets/images-login/imagen login.jpg" alt="img bg">
    <div class="logo-container">
    <img src="assets/images-login/logo_definitivo.jpg" alt="img logo">
  </div>
</div>
  <div class="content-container">
    <ion-card class="card-login">
      <ion-card-header>
        <ion-card-title class="card-title">Bienvenido a FoodMap</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div class="input-container">
          <ion-item class="custom-input-item">
            <ion-input placeholder="Usuario" type="text" [(ngModel)]="user"></ion-input>
          </ion-item>
          <ion-item class="custom-input-item">
            <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </div>
        <div class="button-container">
          <ion-button class="login-button"expand="block" (click)="onLoginButtonPressed()">Iniciar Sesión</ion-button>
          <ion-button expand="block" (click)="onRegisterButtonPressed()">Continuar con Google</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>
