.login-background {
  background: linear-gradient(to bottom, #f27874, #e09f8f); 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-container img {
  width: 65vw;  
  height: auto;
  margin-bottom: 5vh; 
}
ion-item {
  --background: #e5a5a2; 
  --border-color: transparent;
  border-radius: 5px;
  margin: 10px 0;
  width: 80vw;
  height: 10vh;
  max-width: 350px;

  ion-label {
    color: white; 
    font-weight: bold;
  }

  ion-input {
    color: white;
  }
}
ion-content .forgot-password{
  color: white;
  margin-bottom: 10%;
  text-align: center;
}

.login-card {

  padding: 20px;
  width: 85%;
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 35vh;
}

.login-button, .google-login-button {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 13px; 
  font-weight: bold; 
  text-align: center; 
  border: 1px solid black;
  border-radius: 16px; /* Bordes circulares */
}

.login-button {
  --background: #F85430;
  margin-top: 20px;
  color: #ffffff;
}

.google-login-button {
  --background: #1f3eebb9;
  color: #ffffff;
  margin-top: 10px;
}

.signup-container {
  text-align: center;
  position: relative;
  top: -20px;
}

.signup-container span {
  color: rgb(255, 255, 255);
}

.signup-container a {
  color: rgb(0, 0, 0);
}

