.splash-background {
    background: linear-gradient(to bottom, #f27874, #e09f8f); 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-container img {
    width: 80vw;  
    height: auto; 
    margin-bottom: 25vh;
}
/* Este style de css es momentaneo mientras integro el gif de Loading...*/
.splash-background p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
}