<ion-content [fullscreen]="true" class="profile-content"  >
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <div class="profile-background">

    <div class="header-container">
      <ion-button class="back-button" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <h1 class="main-title">Cambiar Contraseña</h1>
    </div>

    <div class="form-container">
      <h4>Contraseña Actual</h4>
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input [(ngModel)]="userCurrentPassword" type="password"></ion-input>
      </ion-item>
    
      <h4>Nueva Contraseña</h4>
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input [(ngModel)]="userPassword" type="password"></ion-input>
      </ion-item>
    
      <h4>Repetir Nueva Contraseña</h4>
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input [(ngModel)]="userRePassword" type="password"></ion-input>
      </ion-item>
    
      <ion-button expand="block" (click)="onPasswordUpdateButtonPressed()" class="register-button">Guardar</ion-button>
    </div>
</div>
<ion-footer class="footer">
  <ion-tab-bar slot="bottom" class="footer-tab-bar">
    <ion-tab-button tab="mapa" (click)="onMapButtonPressed()">
      <ion-icon name="map-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="inicio" (click)="onHomeButtonPressed()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="perfil" (click)="onProfileButtonPressed()">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
</ion-content>
