<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    This is the menu content.
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="assets/images-inicio/logo_definitivo.jpg" alt="Logo"/>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ion-button fill="clear" color="dark" (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon> Back
  </ion-button>

  <ion-item>
    <ion-input type="text" placeholder="Promociones cerca de tu ubicación"></ion-input>
    <ion-icon slot="end" name="location-outline"></ion-icon>
  </ion-item>

  <ion-list>
    <ion-card>
      <img src="assets/images-inicio/promo 1 1.png" alt="Super Combo"/>
    </ion-card>

    <ion-card>
      <img src="assets/images-inicio/promo 2 1.png" alt="Happy Hour"/>
    </ion-card>

    <ion-card>
      <img src="assets/images-inicio/promo 3 1.png" alt="Promoción Lunes Alitas"/>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mapa">
      <ion-icon name="map-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="inicio" href="/inicio">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>