* {
  font-family: 'Fredoka One', sans-serif;
}

.home-background {
  background: linear-gradient(to bottom, #f27874, #e09f8f); 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 10px;
  --background: transparent;
  color: black;
}

.logout-button {
  position: absolute;
  top: 10vh;
  right: 10px;
  --background: #E26D5D;
  color: white;
  border: 1px solid black;
  border-radius: 16px; 
} 

.add-button {
  --background: #E26D5D;
  border: 1px solid black;
  border-radius: 16px; 
}

.user-label {
  position: absolute;
  top: 5vh;
  right: 10px;
    	p{
        color: #ffffff;    
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.footer-tab-bar {
  --background: #E26D5D;
  --color-selected: #ffffff;
  --color: #000000;
}

.carousel-container {
  padding-top: 110px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

ion-card {
  --background: transparent;
  min-width: 91%;
  opacity: 0.5;
  transform: scale(0.8);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

ion-card.active {
  opacity: 1;
  transform: scale(1);
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.caro-button {
  --background: transparent;
  color: black;
}

.category-section {
  color: #000000;
}

.category-grid {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.category-grid ion-img {
  flex: 1;
  max-width: 30%;
}