swiper-container { 
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  font-family: 'Fredoka One', sans-serif;
}

.home-background {
  background: linear-gradient(to bottom, #f27874, #e09f8f); 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
}

.bootstrap-carousel .carousel-inner img {
  width: 100%;
  height: auto;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 10px;
  --background: transparent;
  color: black;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.footer-tab-bar {
  --background: #E26D5D; 
  --color-selected: #ffffff;
  --color: #000000;
}
