.container-background {
    position: relative;
    background-color: #79C3AC;
    height: 100%;
    width: 100%;
}

.container-background img {
    height: 90%;
    width: 100%;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
    opacity: 0.6; /* Ligera opacidad en la imagen */
}

.container-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Tinte negro con 50% de opacidad */
    pointer-events: none; /* Asegura que el overlay no bloquee la interacción con otros elementos */
}